<mat-toolbar color="primary" class="toolbar">
  <span class="app-title">{{ title }}</span>

  <span class="spacer"></span>


  <div class="nav-buttons" fxHide fxShow.gt-sm *ngIf="(isAuthenticated$ | async) === false">
    <button mat-button routerLink="/login" routerLinkActive="active-link">
      <mat-icon>login</mat-icon> Iniciar Sesión
    </button>
  </div>

  <div fxShow fxHide.gt-sm>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/nuevo-pedido" routerLinkActive="active-link">
        <mat-icon>add_shopping_cart</mat-icon> Nuevo Pedido
      </button>
      <button mat-menu-item routerLink="/consulta" routerLinkActive="active-link">
        <mat-icon>search</mat-icon> Consultar Pedido
      </button>
      <button mat-menu-item routerLink="/lista-pedidos" *ngIf="isAuthenticated$ | async" routerLinkActive="active-link">
        <mat-icon>list</mat-icon> Lista de Pedidos
      </button>
      <button mat-menu-item (click)="logout()" *ngIf="(isAuthenticated$ | async) === true">
        <mat-icon>exit_to_app</mat-icon> Cerrar Sesión
      </button>
    </mat-menu>
  </div>

</mat-toolbar>